body {
    background-image: url('diamond.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
}

#id1
{
    font-size:40px;
}